@page
@model IndexModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="alert-info" style="display: @(ViewBag.Message != null ? "block" : "none");">@ViewBag.Message</div>

    <p>Your marketing value-proposal goes here.</p>
    
    <p>Click <a href="~/login">here</a> to log in. Click <a href="~/register">here</a> to register.</p>
</div>
