@page
@model HealthCheckModel

<div class="text-center">
    <h1 class="display-4">Health Checks</h1>
</div>

<p>As of <strong>@DateTime.Now</strong>:</p>

<ul>
@foreach (var kvp in Model.IsHealthCheckSuccessful)
{
    <li>@(kvp.Key) => @(kvp.Value ? "Successful" : "Failed")</li>
}
</ul>
